<!DOCTYPE html> 
<html>

<head>
  <title>Time Series Analysis New York Taxi Data</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="static/modernizr-1.5.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="static/map.js"></script>
  <script src="static/datepicker.js"></script>
  <script src="static/play.js"></script>
</head>

<body>

<div id="main">
  <header>
    <div id="strapline">
      <div id="welcome_slogan">
	<h3>Time Series Analysis New York Taxi Data</h3>
      </div><!--close welcome_slogan-->
    </div><!--close strapline-->	  
    <p id="strapline">Select Date <input type="text" id="datepicker"></p>
  </header>    
  
  <div id="site_content">
    <div class="content_item">
      </div><!--close content-->
    <div id="map-container">
       <div id="map-canvas"></div>
    </div>
	<div class="content_item">
	 <footer>
	  <span style="float: left; color:#FFF">
	    &nbsp&nbsp&nbspAkshay Trivedi, Shivendra Panicker
	  </span> 
	  <span style="float: right; color:#FFF">
	    <a href="https://github.com/codelibra/time-series-analysis-nyc-taxi">Github</a>
	  </span>
	</footer>
	</div>
      </div><!--close content-->   
  </div><!--close site_content-->  	
  
</div><!--close main-->

</body>
u</html>
